<body>
    <h2>Welcome {{ userHtml }}!</h2>

    <h4>What you want to do?</h4>

    <section id="menu-buttons">
        <div>
            <button (click)="transferMoney()">Transfer money</button>
            <button (click)="extract()">Extract</button>
            <button (click)="loan()">Loan</button>
            
        </div>
        <div>
            <button (click)="mail()">Mail</button>
            <button (click)="pointsWithPeople()">Points with People</button>
            <button (click)="accessAccount()">My account</button>
        </div>
    </section>
    <button (click)="logout()">Logout</button>
</body>