@import "../../../styles/variables.scss";
.input-wrapper{
    color: $text-color;
    font-size: 15px;
    text-align: start;
    label{
        margin-bottom: 10px;
    }
    input {
        border: 2px solid $text-color;
        border-radius: 8px;
        background-color: $background-color;
        color: $text-color;
        font-size: 15px;
        padding: 8px 0 8px 20px;
        width: 100%;
}
}
